
/********************768px********************************/
@media screen and (max-width: 800px){

.sidebar{
    width:15%!important;
}

#dishes{
    margin-left: 15%!important;
   //background-color: #564554;
   padding-right: 0px;
   padding-left: 30px;
}

.btn{
    font-size: 0.6em!important;
    width:80%!important;
}

.btn-confirm{
    width:20%!important;
    height:30px!important;
    margin-top: 0px;
    margin-left: 0px!important;
}

.btn-submit{
     font-size: 0.8em!important;
     width:150px!important;
     height:50px!important;
}
.profile a img{
    margin-left: -20px!important;
}


#wwid span{
    font-size: 0.7em!important;
}


/****************************mymenu*******************************/

table{
    width:350px;
}

}

/********************640px********************************/
@media screen and (max-width: 640px){



}



/********************800px-1024px********************************/
@media screen and (min-width: 800px) and (max-width: 1024px){

.btn-confirm{
    width:30%!important;
 
}

table{
    width:580px;
}

}










