				</div>
				<footer class="col-xs-12 col-sm-10 col-sm-offset-2 text-center">
					<small class="text-muted">&copy;2015 intel成都</small>
				</footer>	
			</div>
		</div>
		<script src="/js/jquery-1.11.2.min.js"></script>
		<script src="/renders/bootstrap/js/bootstrap.min.js"></script>
		<script src="/js/main.js"></script>
		<% extraScripts.forEach(function(s){ %>
			<script src="/js/<%= s %>.js"></script>
		<% }) %>
	</body>
</html>
