<a href="/coffee" class="list-group-item sb-coffee">我要点咖啡</a>
<a href="#" class="list-group-item sb-order disabled">我要点外卖</a>
<a href="/myorder" class="list-group-item sb-myorder">我的订单</a>
<a href="/activities" class="list-group-item sb-activities">餐厅活动</a>
<a href="/account/signout" class="list-group-item">退出</a>
